### Conditional Statements With Combinations of Conditions
Logical operators (e.g. `and`, `or`, `not`) allow you to create conditional statements that can check for combinations of conditions. You can use:

* `and` to execute code if all specified conditions have been met
* `or` to execute code if at least one specified condition has been met
* `not` to execute code only if the specified condition has not been met (note that you can use not in combination with and or or to check whether multiple conditions are not met)

#### Check For Two Conditions Using `and`
You can check for multiple conditions by including `and` between two conditions.

Both conditions have to be satisfied in order for the code provided with the `if` statement to be executed.

This means that if one condition is not satisfied, then the conditional statement executes the code provided with `else`.

***

<code># Check that both conditions are true
if condition1 and condition2:
    print("Conditions 1 and 2 are both true.")
else:
    print("One condition (either 1 or 2) is not true.")
</code>

#### Check For At Least One Condition Using `or`
You can also write conditional statements that check whether at least one condition is true by including `or` between two conditions.

Only one condition has to pass in order for the conditional statement to execute code provided with `if`.
***

<code># Check that at least one condition is true
if condition1 or condition2:
    print("Either condition 1 or 2 is true.")
else:
    print("Neither of these conditions is true.")
</code>

Let's try using these conditional statements with multiple conditions with the for loop we used above. 
Make a copy of the for loop above where we changed elevation over 500 years.

Modify the for loop to do the following:
1. If `i` is greater than 200 `and` elevation is greater than 0.3, make a print statement stating conditions met AND reduce uplift rate by half.
2. If `i` is greater than 200 `or` elevation is greater than 0.3, make a print statement stating conditions met AND reduce uplift rate by half.

In [1]:
# simple example using "and"
import numpy as np
elevation = 0.
uplift_rate_init = 0.001   # uplift rate in units, mm/year 
dt = 50    #time step size in years
time = np.arange(0,501,dt)# time steps in years
for i in time:
    print("i = ", i)
    if i > 200 and elevation > 0.3:
        print("both conditions i > 200, elevation > 0.3 are met")
        uplift_rate = uplift_rate_init/2        
    else:
        uplift_rate = uplift_rate_init
    #print("uplift rate ", uplift_rate)
    print("elevation = ", elevation)
    print("")
    elevation += uplift_rate*dt

i =  0
elevation =  0.0

i =  50
elevation =  0.05

i =  100
elevation =  0.1

i =  150
elevation =  0.15000000000000002

i =  200
elevation =  0.2

i =  250
elevation =  0.25

i =  300
elevation =  0.3

i =  350
both conditions i > 200, elevation > 0.3 are met
elevation =  0.35

i =  400
both conditions i > 200, elevation > 0.3 are met
elevation =  0.375

i =  450
both conditions i > 200, elevation > 0.3 are met
elevation =  0.4

i =  500
both conditions i > 200, elevation > 0.3 are met
elevation =  0.42500000000000004

In [ ]:
# simple example using "or"
elevation = 0.
uplift_rate_init = 0.001   # uplift rate in units, mm/year 
dt = 50    #time step size in years
time = np.arange(0,501,dt)# time steps in years
for i in time:
    print("i = ", i)
    if i > 200 or elevation > 0.3:
        print("either condition i > 200 OR elevation > 0.3 is met")
        uplift_rate = uplift_rate_init/2        
    else:
        uplift_rate = uplift_rate_init
    #print("uplift rate ", uplift_rate)
    print("elevation = ", elevation)
    print("")
    elevation += uplift_rate*dt

### Conditional statements on arrays

Remember this important piece of information from above when we introduced `if`/`else` statements: If the condition provided with the `if` statement is satisfied (i.e. results in a value of `True`), then a certain code will execute. If that condition is not met (i.e. results in a value of `False`), then the code provided with the `else` statement will execute.

The conditional statements we've practiced above with `if`/`else` and multiple conditions with 'and', 'or', 'not' evaluate whether a statement is `True` or `False` regarding single variables, NOT arrays. We have to deal with arrays differently.

Let's look at how to evaluate conditions in arrays with the very important function `np.where()`. The documentation for `np.where()` isn't straightforward, so here's the summary: 
```
numpy.where(some_condition on an array)
```
Returns indexes in the array where `some_condition` is `True`.

Let's look at some examples. Load the long profile data from last time. Find the following indexes (locations) using `np.where()`:
1. Find where z_elev > 400.
2. Find where z_elev < 600.
3. Find where z_elev less than 300 AND greater than 200

In [6]:
fileloc = "data/"
buff_data = np.loadtxt(fileloc+"buff_long_prof.txt")
x_dist = buff_data[:,0]
z_elev = buff_data[:,1]

print("z_elev", z_elev)

idx1 = np.where(z_elev>200)[0]
print(idx1)

z_elev [501.1964 499.1786 497.1281 495.1715 492.9491 491.0986 489.0147 487.069
 485.1891 483.1714 481.178  479.1851 476.886  475.0894 473.0449 470.9579
 469.1508 466.223  464.4657 463.1118 460.7829 459.0993 457.1575 455.0594
 453.1853 451.1214 449.1448 447.0728 445.1894 443.1834 440.7953 439.1684
 437.1564 435.0613 433.0485 430.7962 429.1674 427.0518 425.1867 423.1906
 421.1285 418.8987 416.8123 415.1115 413.1695 410.848  408.976  407.1781
 405.1914 403.1758 401.1669 398.9487 397.1858 394.9201 393.1539 391.1353
 388.4856 387.1653 385.0036 383.1609 380.6689 378.995  377.1386 374.8803
 373.0101 371.1617 368.9859 366.9581 365.1265 363.1111 360.9728 358.6125
 357.0324 354.6276 353.1728 351.1572 349.1493 346.6753 345.1527 343.1199
 341.0983 339.166  337.0794 334.8633 333.0923 331.1737 329.1015 327.1825
 325.1954 323.1834 321.1146 319.1366 317.1537 314.9142 312.9977 311.1879
 309.0907 307.1839 305.1435 303.1728 301.1848 299.1559 297.1194 295.0736
 293.162  291.1594 288.7794 287.1758 285.1724 282.9661 281.1105 279.1225
 277.1823 275.1834 273.1794 271.1667 269.1756 267.1921 265.1869 263.1566
 261.1913 259.1963 257.185  255.1471 253.19   251.1715 249.     247.19
 245.1777 243.1809 241.1952 239.1445 237.187  235.187  233.185  231.1887
 229.19   227.1917 225.1083 223.19   221.1906 219.194  217.1795 215.1743
 213.19   211.1958 209.1597 207.1861 205.1925 203.1879 201.1853 199.1963
 197.19   195.1929 193.1821 191.1901 189.1958]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150]

In [3]:
idx2 = np.where(z_elev<300)[0]
print(idx2)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156]

In [4]:
idx3 = np.where(z_elev<300 and z_elev > 200)[0]
print(idx3)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

Using `and` in the code block above doesn't work because `and` evaluates if two conditions are `True`. Let's look at the two different conditions in `np.where(z_elev<300 and z_elev > 200)` individually. 

**Try This:**
Enter `z_elev<300` and `z_elev > 200` into the terminal window. The output is two arrays of `True` and `False`, but `and` only works when evaluating a single instances of `True` and `False`.

Instead of `and` or `or` to evaluate multiple conditions on numpy arrays, we use the functions `np.logical_and()` or `np.logical_or`. See examples of syntax below.

In [ ]:
idx3 = np.where(np.logical_and(z_elev<300, z_elev > 200))[0]
print(idx3)

In [ ]:
idx4 = np.where(np.logical_or(z_elev>450, z_elev < 200))[0]
print(idx4)

Now let's plot this long profile data again. 
1. First plot the entire data set.
2. Next plot only the data points where z_elevation is less than 300 *and* greater than 200.

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(7,6))
plt.scatter(x_dist, z_elev)
plt.scatter(x_dist[idx3],z_elev[idx3], c='violet')
#plt.scatter(x_dist[idx4],z_elev[idx4], c='lightgreen')